@import url('https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,700|Roboto:400,500,700&display=swap');

body {
    font-family: "Barlow", sans-serif;
    background: rgb(0,51,50);
    background: -o-radial-gradient(circle, rgba(0,114,112,1) 0%, rgba(0,51,50,1) 55%);
    background: radial-gradient(circle, rgba(0,114,112,1) 0%, rgba(0,51,50,1) 55%);
    min-height: 100vh;
}

body p {
    color: #ffffff;
}

header {
    margin: 0;
}

/* ------------------------------------------- Navbar */

.navbar {
    background: -o-radial-gradient(circle, rgba(0,114,112,1) 0%, rgba(0,51,50,1) 55%);
    background: radial-gradient(circle, rgba(0,114,112,1) 0%, rgba(0,51,50,1) 55%);
}

.navbar-dark .nav-item .nav-link {
    color: #ffffff;
}

.navbar-dark .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #007270;
    border-radius: 7px;
        transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.navbar-dark .nav-item.active .nav-link {
    color: #007270;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #007270;
}




/* ------------------------------------------- callout */

.callout-container {
    background-image: url("../assets/images/callout-hero.png");
    background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;
  height: 70vh;
}

.callout-container-subpage {
    background-image: url("./assets/images/callout-hero.png");
    background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;
  height: 25vh;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.callout-logo {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 20vh;
    width: 40vh;
}

.jumbotron {
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 0;
}

.jumbotron-h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    font-weight: 500;
}

/* ------------------------------------------- about section */

.about-text-image {
    padding-bottom: 15px;
    border-radius: 7px;
    background-size: cover;

} 

.about-h2 {
    font-family: "Roboto";
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
}

.brochure-cta {
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;
}

/* ------------------------------------------- buttons */

.cta--green {
    background-color: #007270;
    color: #ffffff;
    font-weight: 500;
        transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    }

.cta--green:hover {
    background-color: #ffffff;
    color: #007270;
    font-weight: 500;
        transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}





/* ---------------------------------------------------utilities */

.hr-wide {
    width: 75%;
    height: 5px;
    border: 0;
    background-color: #007270;
}

.hr-small {
    width: 25%;
    height: 5px;
    background-color: #007270;
    margin-bottom: 30px;
}

.header-h3 {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* --------------------------------------------------- footer */

#footer-details {
    background-color: #000000;
    padding-top: 15px;
}

#footer-details h5 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

#footer-details p {
    text-align: center;
}

.social-links {
    text-align: center;
    font-size: 1.5rem;
}

.social-links a {
    color: #ffffff;
}

.social-links a:hover {
    color: #007270;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.list-inline-item {
    margin-right: 1rem;
    margin-left: 1rem;
}

.copywrite-row {
    background-color: #000000;
    padding-left: 0;
}

.copywrite-p {
    margin: 0;
    font-size: 0.5rem;
}

/* ------------------------------------------- contact form */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.form-control {
    margin-bottom: 15px;
}
.submit-row {
    margin-bottom: 15px;
}

/*------------------------------------------- programmes page */

.programmes-row {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.programme-h5-heading {
    text-align: center;
    color: #ffffff;
    margin-top:10vh;
    margin-bottom:10vh;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 1;
}

.app-awards-bg-img {
   background-image: url(./assets/images/programme-3.png);
}

.eng-under-bg-img {
   background-image: url(./assets/images/programme-2.png);
}

.stem-days-bg-img {
   background-image: url(/assets/images/programme-1.png);
}

.app-progression-bg-img {
   background-image: url(./assets/images/programme-4.png);
}

.programme-img {
   border-radius: 7px;
   margin-left: 7px;
   margin-right: 7px;
   margin-bottom: 15px;
   background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;
}

.opaque-overlay-prog {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7px;
}

.programme-col {
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right:30px;
    margin-bottom: 25px;
}

/*--------------- news */

.news-text-col {
    padding: 0 30px;
}

.news-image-col {
    padding: 15px;
}

.news-image-col {
    background-size: cover;
}

.news-text-image {
    padding-bottom: 15px;
    border-radius: 7px;
    background-size: cover;
} 

.news-card {
    margin-bottom: 15px;
    width: 100%;
    background-color: transparent;
}

/*--------------- media queries */

@media only screen and (max-width: 600px) {
  .programme-col {
    padding: 0;
    }

  .contact-form {
    width: 90%;
    margin: 0 auto;
    }
}